

<!DOCTYPE HTML>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<form id="app"
      @submit="checkForm"
      action="/register"
      method="post">
    <p v-if="errors.length">
        <b>Пожалуйста исправьте указанные ошибки:</b>
    <ul>
        <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>
    <p>
        <label for="login">Login</label>
        <input
                id="login"
                v-model="login"
                type="text"
                name="login"
        >
    </p>
    <<p>
    <label for="email">Email</label>
    <input
            id="email"
            v-model="email"
            type="text"
            name="email"
    >
    </p>
    <label for="password">Password</label>
    <input
            id="password"
            v-model="password"
            type="text"
            name="password"
    >
    </p>
    <label for="first_name">First Name</label>
    <input
            id="first_name"
            v-model="first_name"
            type="text"
            name="first_name"
    >
    </p>
    <label for="last_name">Last Name</label>
    <input
            id="last_name"
            v-model="last_name"
            type="text"
            name="last_name"
    >
    </p>
    <p>
        <input
                type="submit"
                value="Отправить"
        >
    </p>
</form>

</body>
<script>
    const apiUrl = 'https://localhost:9000/register;'

    let response;
    const app = new Vue({
        el: '#app',
        data: {
            errors:[],
            login: null,
            email: null,
            password: null,
            first_name: null,
            last_name: null
        },

        methods: {
            checkForm: function (e) {
                this.errors = [];
                if (this.email && this.login && this.password && this.first_name && this.last_name) {
                    return true;
                }


                if (!this.email) {
                    this.errors.push('Требуется указать email.');
                }else if (!this.validEmail(this.email)) {
                    this.errors.push('Укажите корректный адрес электронной почты.');
                }
                if (!this.password) {
                    this.errors.push('Требуется указать пароль.');
                }
                if (!this.first_name) {
                    this.errors.push('Требуется указать имя.');
                }
                if (!this.last_name) {
                    this.errors.push('Требуется указать фамилия.');
                }
                if (!this.login) {
                    this.errors.push('Требуется указать логин.');
                }
                e.preventDefault();
            }
        },
        mounted() {
            axios
                .get(apiUrl)
                .then(response => (this.info = response))
                .catch(error => console.log(error));
        }

    });
</script>
</html>